<div class="home-container">
  <div class="hero-section">
    <div class="hero-content">
      <h1>Pet Planet</h1>
      <h2>Your Trusted Companion Connection 🐾</h2>
      <p>
        Welcome to Pet Planet, your one-stop destination for finding the perfect
        companion and everything they need to thrive. Whether you're looking for
        a loyal dog, a playful kitten, or something unique like a tropical bird
        or a cuddly small animal, we’ve got you covered.
      </p>
      <p>
        Explore our extensive selection of pets and expert care tips designed to
        help you build a loving bond with your new companion. With ethical
        sourcing, personalized service, and a passion for pets, Pet Planet is
        where happy tails and warm hearts begin. Shop now and bring home your
        newest family member today!
      </p>
      <button mat-raised-button color="accent" routerLink="product-list">
        Find your companion
      </button>
    </div>
  </div>
</div>
